<template>
  <div class="add-img-button">
    <label class="add-img">
      <input ref="add-file" type="file" @change="pushImg" />
      <figure>
        <font-awesome-icon :icon="['fas', 'plus-circle']" size="7x" />
        <figcaption>
          Add your picture
        </figcaption>
      </figure>
    </label>
  </div>
</template>

<script>
export default {
  name: 'v-add-btn',
  methods: {
    pushImg(e) {
      const reader = new FileReader();

      reader.onloadend = (event) => {
        this.$emit('loadImage', event.target.result);
        this.$refs['add-file'].value = '';
      };

      if (
        e.target.files
        && (/.jpg/.test(e.target.files[0].name)
          || /.png/.test(e.target.files[0].name))
      ) {
        reader.readAsDataURL(e.target.files[0]);
      }
    },
  },
};
</script>

<style scoped lang="scss">

.add-img-button {
  width: 220px;
  height: 200px;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.23);
  justify-self: center;

  label {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    input[type=file] {
      display: none;
    }

    figure {
    display: flex;
    flex-direction: column;
    align-items: center;

    figcaption {
      margin-top: 10px;
      font-family: "Roboto", sans-serif;
      font-size: 17px;
      text-align: center;
      width: 70px;
      font-weight: bold;
      color: #d6dce0;
    }

    svg {
      color: #21b8c6;
    }
  }
  }
}

.add-img-button:hover {
  transition: all 1s;
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.4);
}

@media screen and (max-width: 1000px)
{
  .add-img-button
  {
  width: 90%;
  }
}
</style>
