<template>
  <section class="comments-item-block">
    <header class="comments-header">
      <h5>By {{ name }}</h5>
      <h5>{{ date }}</h5>
    </header>
    <div class="comments-information">
      <h4>{{ message }}</h4>
    </div>
  </section>
</template>

<script>
export default {
  name: 'v-comment',
  props: {
    name: {
      type: String,
      required: true,
    },
    date: {
      type: String,
      required: true,
    },
    message: {
      type: String,
      required: true,
    },
  },
};
</script>

<style scoped lang="scss">
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

.comments-item-block {
  width: 95%;
  margin: 15px 0 0 0;
  font-family: 'Roboto';

  .comments-header {
    display: flex;
    justify-content: space-between;
  }

  .comments-information {
    margin: 2.5px 0 0 0;
    min-height: 55px;
    border: 2px solid lightgray;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px 0px 0px 5px;
  }
}
</style>
