<template>
<article class="current-block-wrapper" @click="closePage">
    <section class="current-block">
      <header>
         <button class="close-btn" @click="closePage">
            <font-awesome-icon :icon="['fas', 'times']" size="4x" />
          </button>
      </header>
      <figure class="img-block">
        <img :src="img.link" />
        <figcaption class="reaction-block">
          <div
            :class="[
              'dislike-button',
              img.checkedStatus === 'dislike' ? 'checked' : ''
            ]"
            @click="dislike"
          >
            <font-awesome-icon :icon="['fas', 'thumbs-down']" size="2x" />
            <p>{{ img.stats.dislikes }}</p>
          </div>
          <div
            :class="[
              'like-button',
              img.checkedStatus === 'like' ? 'checked' : ''
            ]"
            @click="like"
          >
            <font-awesome-icon :icon="['fas', 'thumbs-up']" size="2x" />
            <p>{{ img.stats.likes }}</p>
          </div>
        </figcaption>
      </figure>
      <section class="comment-block">
        <div class="close-btn-block">
          <button class="close-btn" @click="closePage">
            <font-awesome-icon :icon="['fas', 'times']" size="2x" />
          </button>
        </div>
        <h1>Comments: {{ img.stats.comments }}</h1>

        <div class="comments-message-block">
          <template v-for="(item, index) in img.comments">
            <v-comment
              :key="index"
              :name="item.name"
              :date="item.date"
              :message="item.message"
            />
          </template>
        </div>
        <form @submit.prevent="sendMessageToParrent">
          <fieldset>
            <div>
              <input type="text" v-model="name" placeholder="UserName" />
            </div>
            <div>
              <textarea placeholder="..." v-model="message" />
              <button type="submit">
                <font-awesome-icon :icon="['fas', 'paper-plane']" size="2x" />
              </button>
            </div>
          </fieldset>
        </form>
      </section>
    </section>
  </article>
</template>

<script>
import vComment from './vComment.vue';

export default {
  name: 'v-current-image',
  components: {
    vComment,
  },
  props: {
    img: {
      type: Object,
      required: true,
      default() {
        return {
          link: '',
          stats: { likes: 0, dislikes: 0, comments: 0 },
          checkedStatus: '',
          comments: [],
        };
      },
    },
  },
  data() {
    return {
      name: '',
      message: '',
    };
  },
  methods: {
    closePage(event) {
      if (
        !event.target.closest('.current-block')
        || event.target.closest('.close-btn')
      ) {
        this.$emit('close', false);
      }
    },
    like() {
      switch (this.img.checkedStatus) {
        case 'like':
        {
          this.$emit('change-stats',
            Object.assign({}, {
              count: this.img.count - 1,
              checkedStatus: '',
              stats: {
                ...this.img.stats,
                likes: this.img.stats.likes - 1,
              },
            }));
          break;
        }
        case 'dislike':
        {
          this.$emit('change-stats',
            Object.assign({}, {
              count: this.img.count - 1,
              checkedStatus: 'like',
              stats: {
                ...this.img.stats,
                likes: this.img.stats.likes + 1,
                dislikes: this.img.stats.dislikes - 1,
              },
            }));
          break;
        }
        default: {
          this.$emit('change-stats',
            Object.assign({}, {
              count: this.img.count - 1,
              checkedStatus: 'like',
              stats: {
                ...this.img.stats,
                likes: this.img.stats.likes + 1,
              },
            }));
          break;
        }
      }
    },
    dislike() {
      switch (this.img.checkedStatus) {
        case 'like':
        {
          this.$emit('change-stats',
            Object.assign({}, {
              count: this.img.count - 1,
              checkedStatus: 'dislike',
              stats: {
                ...this.img.stats,
                likes: this.img.stats.likes - 1,
                dislikes: this.img.stats.dislikes + 1,
              },
            }));
          break;
        }
        case 'dislike':
        {
          this.$emit('change-stats',
            Object.assign({}, {
              count: this.img.count - 1,
              checkedStatus: '',
              stats: {
                ...this.img.stats,
                dislikes: this.img.stats.dislikes - 1,
              },
            }));
          break;
        }
        default: {
          this.$emit('change-stats',
            Object.assign({}, {
              count: this.img.count - 1,
              checkedStatus: 'dislike',
              stats: {
                ...this.img.stats,
                dislikes: this.img.stats.dislikes + 1,
              },
            }));
          break;
        }
      }
    },
    sendMessageToParrent() {
      const timeInfo = new Date();
      const date = (timeInfo.toLocaleDateString('en-GB', {
        hour12: true,
        day: 'numeric',
        hour: 'numeric',
        minute: 'numeric',
      }));

      if (
        this.name
        && this.message
        && /\S/.test(this.name)
        && /\S/.test(this.message)
      ) {
        this.$emit('send-mesage', {
          comment: { name: this.name, message: this.message, date },
          count: this.img.count - 1,
        });

        this.message = '';
        this.name = '';
      }
    },
  },
};
</script>

<style scoped lang="scss">
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
}

.current-block-wrapper
{
  position:absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255 ,0.5);

.current-block {
  position: absolute;
  max-width: 810px;
  max-height: 595px;
  width: 100%;
  height: 100%;
  z-index: 11;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  border-radius: 6px;
  header
  {
    display: none;
  }

  .img-block {
    width: 50%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    img {
      max-height:90%;
      height: auto;
    }
    .reaction-block {
      width: 100%;
      height: 60px;
      background-color: #d5d3d3;
      display: flex;
      justify-content: flex-end;
      color: #21b8c6;

      & > div {
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateY(-30px);
        transition: all 0.7s;
        position: relative;
        background-color: #ececec;
        svg
        {
          color: #aeaaaa;
        }
        p {
          width: 18px;
          height: 18px;
          position: absolute;
          top: 8px;
          border: 1.5px solid #aeaaaa;;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #fff;
          font-family: "Roboto";
        }
      }

      & > div:hover,
      & > div.checked {
        transform: translateY(0px);
        transition: transform 0.7s;
          p
          {
            border: 1.5px solid #fff;
          }
          svg
          {
            color: #fff;
          }
      }

      & > div:nth-child(1).checked,
      & > div:nth-child(1):hover {
        background-color: red;
      }
      & > div:nth-child(2).checked,
      & > div:nth-child(2):hover {
        background-color: green;
      }

      & > div:nth-child(1) {
        margin: 0 10px 0 0;
        p {
          left: 35px;
        }
      }
      & > div:nth-child(2) {
        margin: 0 20px 0 0;
        p {
          left: 37px;
        }
      }
    }
  }

  .comment-block {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .close-btn-block {
      padding: 15px 0 0 0;
      width: 90%;
      display: flex;
      justify-content: flex-end;
    }

    h1 {
      width: 90%;
      text-align: start;
      padding: 7.5px 0 0 0;
      font-size: 25px;
      font-family: 'Roboto';
    }

    .comments-message-block {
      flex-grow: 1;
      width: 90%;
      margin: 10px 0 0 0;
      overflow-y: auto;
      overflow-x: none;
    }

    div.comments-message-block::-webkit-scrollbar-track {
      border-radius: 10px;
      background-color: rgb(209, 218, 227);
    }

    div.comments-message-block::-webkit-scrollbar {
      width: 8px;
      background-color: inherit;
    }

    div.comments-message-block::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: rgb(33, 184, 198);
    }

    form {
      margin: 10px 0 0 0;
      width: 100%;
      display: flex;
      justify-content: center;

      fieldset {
        border: none;
        margin: 0 0 15px 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        div {
          display: flex;
          justify-content: center;
        }

        div > input {
          width: 90%;
          border: none;
          height: 35px;
          font-family: "Roboto";
          font-size: 20px;
          transition: all 1s;
          margin: 0 0 10px 0;
          padding: 0 0 0 5px;
          border-bottom: 2px solid #21b8c6;
        }

        button[type="submit"] {
          width: 20%;
          height: 60px;
          border: none;
          background-color: #21b8c6;

          svg {
            color: #fff;
          }
        }

        textarea {
          resize: none;
          border: none;
          font-family: "Roboto";
          font-size: 14px;
          border-left: 1px solid lightgray;
          border-top: 1px solid lightgray;
          border-bottom: 1px solid lightgray;
          width: 70%;
          padding: 5px 0px 0px 5px;
        }
      }
    }
  }


  textarea:focus,
  button:focus,
  input:focus {
    outline: none;
  }
}
}

      .close-btn {
        border: none;
        background-color: #fff;

        svg {
          color: #21b8c6;
        }
      }

@media screen and (max-width: 1000px)
{
  .current-block-wrapper
  {
    .current-block
    {
      top: 1%;
    }
  }
}
@media screen and (max-width: 860px)
{
  .current-block-wrapper
  {
  .current-block
  {
    width: 95%;
    max-height: none;
    height: auto;
    top: 50px;

    header
    {
      display: flex;
      width: 95%;
      justify-content: flex-end;
      padding: 12px 0 12px 0;
      button
      {
      }
    }
    .img-block
    {
      width: 100%;

      img
      {
        width: 100%;
      }
    }
    .comment-block
    {
      width:100%;
      height: 500px;
    }
  }
  }
}

@media screen and (max-width: 600px)
{
  .current-block-wrapper
  {
    .current-block
    {
      top: 1%;
    }
  }
}
@media screen and (max-width: 860px)
{
  .current-block-wrapper
  {
  .current-block
  {
    .comment-block
    {
      height: 350px;

      .close-btn-block
      {
        display: none;
      }

      h1
      {
        margin: 15px 0 0 0;
      }

    }
  }
  }
}
</style>
