<template>
  <article :class="['main-img-block', gridClass]">
    <figure>
    <img :src="link" alt="" />
    <figcaption class="reaction-block">
      <div class="like-block block">
        <font-awesome-icon :icon="['fas', 'thumbs-up']" size="2x" />
        <p>{{ stats.likes }}</p>
      </div>

      <div class="dislike-block block">
        <font-awesome-icon :icon="['fas', 'thumbs-down']" size="2x" />
        <p>{{ stats.dislikes }}</p>
      </div>

      <div class="comments-block block">
        <font-awesome-icon :icon="['fas', 'comments']" size="2x" />
        <p>{{ stats.comments }}</p>
      </div>
    </figcaption>
    </figure>
  </article>
</template>

<script>
export default {
  name: 'v-image',
  props: {
    link: {
      type: String,
      required: true,
      default: '',
    },
    stats: {
      type: Object,
      required: true,
      default() {
        return { likes: 0, dislikes: 0, comments: 0 };
      },
    },
  },
  data() {
    return {
      gridClass: '',
    };
  },
  created() {
    const img = new Image();
    img.src = this.link;
    img.onload = () => {
      if (img.width / img.height >= 1.5) {
        this.gridClass = 'width';
      } else if (img.height / img.width >= 1.5) {
        this.gridClass = 'height';
      }
    };
  },
};
</script>

<style scoped lang="scss">
.main-img-block {
  justify-self: end;
  height: auto;
  grid-row: span 1;
  grid-column: span 1;
  max-width: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-self: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

figure
{
  height: 100%;
  img {
    width: 100%;
    min-height: 100%;
    flex-grow: 1;
  }

  .reaction-block {
    width: 100%;
    bottom: 0;
    border-radius: 0px 0px 8px 8px;
    height: 90px;
    display: flex;
    overflow: hidden;
    position: absolute;
    transform: translateY(200px);
    transition: 1s;

    .block {
      width: calc(100% / 3);
      background-color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;

      p {
        position: absolute;
        top: 20px;
        transform: translateX(23px);
        border: 2px solid gray;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #21b8c6;
        font-family: "Roboto";
      }

      svg {
        color: gray;
      }
    }
  }
}
}

.width {
  grid-row: span 1;
  grid-column: span 2;
}

.height {
  grid-row: span 2;
  grid-column: span 1;
}
.main-img-block:hover .reaction-block {
  transform: translateY(0px);
  transition: 1s;
}


@media screen and (max-width: 1000px)
{
  .main-img-block {
    width: 90%;
  }
}
</style>
