<template>
 <div class="main-wrapper">
    <header>
    <h1>WELCOME TO VISEVEN <strong>IMAGESTOCK</strong></h1>
    </header>
    <main @click="clickOnPage">
      <template v-for="(item, index) in allImg">
        <v-image
          :key="index + 1"
          :ref="index + 1"
          :data-number="index + 1"
          :link="allImg[index].link"
          :stats="allImg[index].stats"
        />
      </template>
      <v-add-btn @loadImage="pushImage" />
    </main>

    <template v-if="currentStatus">
      <v-current-image
        @close="close"
        @change-stats="changeStats"
        @send-mesage="sendMessage"
        :img="currentImg"
      />
    </template>
  </div>
</template>

<script>
import vAddBtn from './components/vAddBtn.vue';
import vImage from './components/vImage.vue';
import vCurrentImage from './components/vCurrentImage.vue';

export default {
  name: 'app',
  components: {
    vAddBtn,
    vImage,
    vCurrentImage,
  },
  data() {
    return {
      allImg: [],
      currentStatus: false,
      currentImg: {},
    };
  },
  methods: {
    pushImage(data) {
      sessionStorage.setItem(
        sessionStorage.length + 1,
        JSON.stringify({
          link: data,
          stats: { likes: 0, dislikes: 0, comments: 0 },
          comments: [],
        }),
      );

      this.allImg.push({
        link: data,
        stats: { likes: 0, dislikes: 0, comments: 0 },
        comments: [],
        checkedStatus: '',
      });
    },

    clickOnPage(event) {
      const elem = event.target.closest('.main-img-block');
      if (elem) {
        this.currentImg = Object.assign(
          {},
          this.allImg[elem.dataset.number - 1],
          { count: elem.dataset.number },
        );
        this.currentStatus = true;
        window.scrollTo({ top: 0, behavior: 'smooth' });
      }
    },
    close(data) {
      this.currentStatus = data || false;
    },

    changeStats(data) {
      this.allImg[data.count].checkedStatus = data.checkedStatus;
      this.currentImg.checkedStatus = data.checkedStatus;
      this.allImg[data.count].stats = data.stats;
      this.currentImg.stats = data.stats;
      sessionStorage.setItem(
        data.count + 1,
        JSON.stringify({
          link: this.allImg[data.count].link,
          stats: this.allImg[data.count].stats,
          comments: this.allImg[data.count].comments,
        }),
      );
    },

    sendMessage(data) {
      this.allImg[data.count].comments.push(data.comment);
      this.allImg[data.count].stats.comments += 1;
      sessionStorage.setItem(
        data.count + 1,
        JSON.stringify({
          link: this.allImg[data.count].link,
          stats: this.allImg[data.count].stats,
          comments: this.allImg[data.count].comments,
        }),
      );
    },
  },

  beforeMount() {
    for (let i = 1; i <= sessionStorage.length; i += 1) {
      const item = JSON.parse(sessionStorage[i]);
      this.allImg.push({
        link: item.link,
        stats: item.stats,
        comments: item.comments,
        checkedStatus: '',
      });
    }
  },
};
</script>

<style lang="scss">
* {
  margin: 0;
  padding: 0;
}

body
{
  overflow-x: hidden;
}

.main-wrapper {
  min-width: 100vw;
  min-height: 100vh;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #f0f3f6;
  overflow-x: hidden;
  overflow-y: auto;
 &>header
 {
    max-width: 1024px;
    width: 100%;
    margin: 10px 0 25px 0;
    pointer-events: none;
  h1 {
    width: 100%;
    text-align: start;
    font-family: "Roboto";
    color: #95a7b3;
    position: relative;
    z-index: 10;
    strong {
      color: #21b8c6;
    }
  }
 }

 main {
  padding: 12.5px;
  display: grid;
  max-width: 1024px;
  width: 100%;
  grid-auto-flow: column;
  grid-template-columns: repeat(4, 236px);
  grid-template-rows: repeat(3, 200px);
  grid-auto-rows: 200px 200px 200px;
  grid-auto-columns: 236px 236px;
  row-gap: 12.5px;
  column-gap: 12.5px;
  overflow-y: hidden;
  overflow-x: auto;
}
}


body::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #f0f3f6;
}

body::-webkit-scrollbar {
  width: 12px;
  height: 16px;
  background-color: #f0f3f6;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgb(33, 184, 198);
}

main::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: rgb(209, 218, 227);
}

main::-webkit-scrollbar {
  width: 12px;
  height: 16px;
  background-color: inherit;
}

main::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgb(33, 184, 198);
}

@media screen and (max-width: 1000px)
{
.main-wrapper
{
  header
  {
    h1
    {
      text-align: center;
      font-size: 40px;
    }
  }
  main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 14px 0 14px 0;
    &>article
    {
      margin: 7px 0px 7px 0px;
    }
  }
}
}

</style>
